# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "!main", "**" ]
  pull_request:
    branches: [ "**" ]

permissions:
  contents: read

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, macos-13]
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Build wheels
        uses: pypa/cibuildwheel@v3.1.2
        env:
          CIBW_TEST_REQUIRES: pytest pytest-xdist pandas pyarrow brotli meson cmake ninja
          CIBW_TEST_COMMAND: "pytest {project}/tests"
          CIBW_SKIP: >-
            cp38-* cp39-* cp310-* cp314-* cp314t-* *win32*
